# macOS system files
.DS_Store

# Dependencies
node_modules/

# Google Apps Script settings
.clasp.json

# Environment variables and secrets
.env
.env.local

# Build outputs
dist/
build/

# IDE specific files
.idea/
.vscode/

# Logs
*.log
npm-debug.log*
